{% extends "layout.html"%}

{% block head %} 
<title>Sobre - Junior Moraes</title>

{% endblock %}

{% block content %}
        
        <div id="wrapper">
            <img src="https://fillmurray.com/g/200/300" alt="">
            <h1>Junior Moraes</h1>
            <h2>Estagiário da CI&T</h2>
            <p>Aprendendo FullStack pela <a href="https:rocketseat.com.br" target="_blank">Rocketseat</a> </p>
        </div>

        <div id="link-footer" class="links">
            <a href="https://www.instagram.com/juniormoraes" target="_blank">Instagram</a>
            <a href="https://www.facebook.com/saldefrutas" target="_blank">Facebook</a>
            <a href="https://www.twitter.com/" target="_blank">Twitter</a>

        </div>

        {% endblock %}