{% extends "layout.html"%}

{% block head %}
<title>Portifolio - Junior Moraes</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      
{% endblock %}

{% block content %}

        <div id="wrapper">
            <h1>Aulas</h1>
        </div>
        <section class="cards"> 

            <div class="card" id="YW7Txg3Lgw0" >
                 <div class="card__image-container">
                   <img src="https://img.youtube.com/vi/YW7Txg3Lgw0/hqdefault.jpg" alt="Exemplo1">
                    </div>
                <div class="card__content">
                   <p>Exemplo 1 para animação do JAvaScript</p>
                </div>
                 <div class="card__info">
                  <p>30 minutos</p>
                 <p class="card__price">Free</p>
              </div>
            </div>

            <div class="card" id="ce7EXvherHU">
                <div class="card__image-container">
                    <img src="https://img.youtube.com/vi/ce7EXvherHU/hqdefault.jpg" alt="Exemplo2">
                </div>
                <div class="card__content">
                    <p>Exemplo 2 para animação do JAvaScript</p>
                </div>
                <div class="card__info">
                    <p>30 minutos</p>
                    <p class="card__price">Free</p>
                </div>
                </div>

            <div class="card" id="YW7Txg3Lgw0">
                <div class="card__image-container">
                    <img src="https://img.youtube.com/vi/YW7Txg3Lgw0/hqdefault.jpg" alt="Exemplo 3">
                </div>
                <div class="card__content">
                    <p>Exemplo 3 para animação do JAvaScript</p>
                </div>
                <div class="card__info">
                    <p>30 minutos</p>
                    <p class="card__price">Free</p>
                </div>
                </div>

            <div class="card" id="YW7Txg3Lgw0">
                <div class="card__image-container">
                    <img src="https://img.youtube.com/vi/YW7Txg3Lgw0/hqdefault.jpg" alt="Exemplo 6">
                </div>
                <div class="card__content">
                    <p>Exemplo 4 para animação do JAvaScript</p>
                </div>
                <div class="card__info">
                    <p>30 minutos</p>
                    <p class="card__price">Free</p>
                </div>
                </div>

            <div class="card" id="YW7Txg3Lgw0">
            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/YW7Txg3Lgw0/hqdefault.jpg" alt="Exemplo1">
            </div>
            <div class="card__content">
                <p>Exemplo 5 para animação do JAvaScript</p>
            </div>
            <div class="card__info">
                <p>30 minutos</p>
                <p class="card__price">Free</p>
            </div>
                </div>

            <div class="card" id="YW7Txg3Lgw0">
                <div class="card__image-container">
                    <img src="https://img.youtube.com/vi/YW7Txg3Lgw0/hqdefault.jpg" alt="Exemplo1">
                </div>
                <div class="card__content">
                    <p>Exemplo 6 para animação do JAvaScript</p>
                </div>
                <div class="card__info">
                    <p>30 minutos</p>
                    <p class="card__price">Free</p>
                </div>
                </div>
                
        </section>
        <div class="modal__overlay">
            <div class="modal">
                <a class="close_modal">
                    <i class="material-icons">close</i>
                </a>
                <div class="modal_content">
                    <!-- video aqui -->
                    <iframe src="" frameborder= 0> </iframe>
                </div>
            </div>
        </div>
        <script src="scripts.js"></script>
  
        {% endblock %}